button.btn.next::before {
    font-family: fontAwesome;
    content: "\f061\00a0";
}
button.btn.submit::before {
    font-family: fontAwesome;
    content: "\f090\00a0";
}
button.btn.result::before {
    font-family: fontAwesome;
    content: "\f0f6\00a0";
}
.button.btn.graph{
    font-family: fontAwesome;
    content: "\f080\00a0";

}
.option-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    position: relative;
    top: 13.33333px;
    width: 40px;
    height: 40px;
    -webkit-transition: all 0.15s ease-out 0;
    -moz-transition: all 0.15s ease-out 0;
    transition: all 0.15s ease-out 0;
    background: #BFFFFF;
    border: none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    outline: none;
    position: relative;
    margin-right: 0.5rem;
    z-index: 1000;
    font-size: xx-large;
}

.option-input:hover { background: #BFFDE7; }

.option-input:checked { background: #40e0d0; }

.option-input.radio { border-radius: 50%; }

.option-input.radio::after { border-radius: 50%; }

.option-input:checked::before {
    width: 40px;
    height: 40px;
    position: absolute;
    content: '\2714';
    display: inline-block;
    font-size: 26.66667px;
    text-align: center;
    line-height: 40px;
}

.option-input:checked::after {
    -webkit-animation: click-wave 0.65s;
    -moz-animation: click-wave 0.65s;
    animation: click-wave 0.65s;
    background: #40e0d0;
    content: '';
    display: block;
    position: relative;
    z-index: 100;
}

@-webkit-keyframes
click-wave { 0% {
    width: 40px;
    height: 40px;
    opacity: 0.35;
    position: relative;
}
    100% {
        width: 200px;
        height: 200px;
        margin-left: -80px;
        margin-top: -80px;
        opacity: 0.0;
    }
}

@-moz-keyframes
click-wave { 0% {
    width: 40px;
    height: 40px;
    opacity: 0.35;
    position: relative;
}
    100% {
        width: 200px;
        height: 200px;
        margin-left: -80px;
        margin-top: -80px;
        opacity: 0.0;
    }
}
@-o-keyframes
click-wave { 0% {
    width: 40px;
    height: 40px;
    opacity: 0.35;
    position: relative;
}
    100% {
        width: 200px;
        height: 200px;
        margin-left: -80px;
        margin-top: -80px;
        opacity: 0.0;
    }
}
@keyframes
click-wave { 0% {
    width: 40px;
    height: 40px;
    opacity: 0.35;
    position: relative;
}
    100% {
        width: 200px;
        height: 200px;
        margin-left: -80px;
        margin-top: -80px;
        opacity: 0.0;
    }
}
